.main-cont {
    background-image: url("../img/food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-title {
    color: #1a202c;
    font-size: 28px;
    font-weight: 600;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.sub-title {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.content {
    width: 80%;
    border: 2px solid #cbd5e0;
    border-radius: 8px;
    background-color: #edf2f7;
    box-shadow: 8px 12px 16px #1a202c;
    text-align: center;
    margin: 32px auto;
}
span {
    color: rgb(245, 45, 45);
}
nav {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(73, 67, 67);
    font-weight: 600;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: auto;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
.btn {
    margin: 2rem;
    padding: 8px 12px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(230, 227, 223);
    border-radius: 8px;
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.btn-primary {
    background-color: rgb(25, 192, 122);
    border-bottom: 3px solid rgb(18, 114, 74);
    border-right: 3px solid rgb(18, 114, 74);
}
.btn-secondary {
    background-color: rgb(32, 103, 184);
    border-bottom: 3px solid rgb(23, 71, 126);
    border-right: 3px solid rgb(23, 71, 126);
}
.btn-secondary:focus {
    border: 3px solid rgb(54, 135, 228);
}
.btn-primary:focus {
    border: 3px solid rgb(38, 236, 154);
}
.alert {
    padding: 15px;
    margin: 10px auto;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
    width: 450px;
    text-align: center;
}
.alert-danger {
    background-color: #fa5968;
}
.alert-success {
    background-color: #18cb9a;
}
